*
{ margin:0;
  padding:0;
}
.image
{
     display: block;
     position: fixed;
     text-align: left;
     width:160px;
}
.header
{
    background-image: url('cafe.jpg');
    background-position:center;
    background-repeat: no-repeat;
    position:relative;
    background-size:cover;
    min-height: 100vh;
    animation: animte 1s linear;
 
}
.links {
    background:white;
    text-align:center;
    position:fixed;
    top:0;
    width:100%;
    
}
.links ul{
    display:inline-flex;
    list-style: none;
    color:brown;
   


}
.links ul li{
    width:120px;
    margin:15px;
    padding:20px 20px;
}
.links a
{
    list-style: none;
    text-decoration: none;
    color:black;
}
.links li:hover
{
    background-color: black;
    border-radius:30px;
}
.sub
{
    display: none;
    
}
.links li:hover .sub
{  display:block;
    position:absolute;
    background:white;
    margin-top: 30px;
    margin-left:-30px;
    
}
.links li:hover .sub ul
{
    display: block;
    margin:10px;
    
}
.Box
{   width:900px;
    height:200px;
    color:black;
    background-color: blanchedalmond;
    position:absolute;
    top:60%;
    left:50%;
    transform:translate(-50%,-60%);
    text-align:center;
    border-radius: 10px;
  
    
}
.Box h1
{   padding:30px 30px;
    letter-spacing:0.5cm;
    font-size:42px;
    color:Black;
   
font-family: 'Zen Loop', cursive;
}
.Box p
{
  font-size: 20px;
  color: brown;
}
.heading{
    text-align: center;
    font-family: 'Kaushan Script', cursive;
    font-size: 2.6rem;
    padding: 10px 10px;
    color:brown;
}

.gallery .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.gallery .box-container .box{
    height:20rem;
    width:30rem;
    margin:2rem;
    cursor: pointer;
    overflow: hidden;
    position: relative;
}

.gallery .box-container .box img{
    height:100%;
    width:100%;
    object-fit: cover;
}

.gallery .box-container .box h3{
    position: absolute;
    top:100%; left:50%;
    transform: translate(-50%, -50%);
    color:white;
    text-align: center;
    font-size: 3rem;
    opacity: 0;
}

.gallery .box-container .box:hover h3{
    top:50%;
    opacity: 1;
    transition-delay: .2s;
}

.gallery .box-container .box::before{
    content: '';
    position: absolute;
    top:-100%; left:0;
    height:100%;
    width: 100%;
    background:rgba(0,0,0,.7);
    transition:.2s linear;
}

.gallery .box-container .box:hover::before{
    top:0;
}


.footer{
    background:#282727;
    padding:1rem 7%;
    width:100%;
    min-height:100vh;

}

.footer .box-container{
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
}

.footer .box-container .box{
    flex:1 1 25rem;
    margin:2rem;
}

.footer .box-container .box h3{
    font-size: 2.5rem;
    color:#fff;
    padding:1rem 0;
    font-weight: normal;
}

.footer .box-container .box p{
    font-size: 1.7rem;
    color:#eee;
    padding:1rem 0;
}

.footer .box-container .box a{
    font-size: 1.7rem;
    color:#eee;
    padding:1rem 0;
    display: block;
}

.footer .box-container .box a:hover{
    color:var(--yellow);
}

.footer .box-container .box p i{
    padding-right: .5rem;
    color:var(--yellow);
}

.footer .credit{
    font-size: 2rem;
    text-align: center;
    border-top: .2rem solid rgba(255,255,255,.7);
    padding:2rem 1rem;
    font-weight: normal;
    letter-spacing: .1rem;
    color:#fff;
}

.footer .credit a{
    color:var(--yellow);
}


